
mainmenu "Chinix Configuration"

menu "Build Setup"

choice
    prompt "Build platform"
    default LINUX_HOST

config LINUX_HOST
    bool "Linux"

endchoice

endmenu # Build Setup



menu "Kernel Configuartion"
source "kernel/Kconfig"
endmenu # Kernel Configuration

menu "Debug Options"
config DEBUG_ASSERT
    bool "debug assert"
    default n
    ---help---
        Enable or disable debug assertion

endmenu # Debug Options
